.header__lang-link {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px; /* 116.667% */
  text-decoration: none;
  padding-left: 18px;
  color: #fff;
}

.header__lang-link_active {
  text-decoration: underline;
}
