.photo-grid {
  width: calc(100% - 48px * 2);
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, fit-content(284px));
  grid-template-rows: repeat (auto-fit);
  gap: 16px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, fit-content(300px));
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: calc(100% - 24px * 2);
    grid-template-columns: repeat(2, fit-content(352px));
    gap: 16px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    max-width: calc(100% - 16px * 2);
    grid-template-columns: fit-content(288px);
    gap: 12px;
  }
}