.lead__title {
  font-family: Inter, 'Arial', sans-serif;
  text-align: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 100px; /* 104.167% */
  margin: 0 0 32px;
}

@media screen and (max-width: 720px) {
  .lead__title {
    margin-bottom: 24px;
    font-size: 74px;
    line-height: 78px; /* 110% */
  }
}

@media screen and (max-width: 630px) {
  .lead__title {
    max-width: 288px;
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 44px; /* 110% */
  }
}