.root__section {
  box-sizing: border-box;
  width: 100%;
  padding: 0 48px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .root__section {
    padding: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .root__section {
    padding: 0 16px;
  }
}