.footer__links-list {
  display: flex;
  flex-direction: row;
  justify-self: start;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 690px) {
  .footer__links-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 48px;
  }
}