@import url(../vendor/normalize.css);
@import url(../blocks/root/root.css);/*root*/
@import url(../blocks/root/__section/root__section.css);/*section-position*/
@import url(../blocks/root/__header/root__header.css);
@import url(../blocks/header/header.css);/*шапка*/
@import url(../blocks/header/__logo/header__logo.css);/*logo*/
@import url(../blocks/header/__lang-links/header__lang-links.css);/*header-links*/
@import url(../blocks/header/__lang-link/header__lang-link.css);/*header-link*/
@import url(../blocks/content/content.css);/*контент*/
@import url(../blocks/section/section.css);/*section*/
@import url(../blocks/lead/lead.css);/*lead*/
@import url(../blocks/lead/__title/lead__title.css);/*title*/
@import url(../blocks/lead/__subtitle/lead__subtitle.css);/*subtitle*/
@import url(../blocks/lead/__illustration/lead__illustration.css);/*illustration*/
@import url(../blocks/lead/__pic/lead__pic.css);/*pic*/
@import url(../blocks/lead/__caption/lead__caption.css);/*caption*/
@import url(../blocks/intro/intro.css);/*intro*/
@import url(../blocks/intro/__column-text/intro__column-text.css);/*column*/
@import url(../blocks/intro/__title/intro__title.css);/*title*/
@import url(../blocks/intro/__paragraph/intro__paragraph.css);/*text*/
@import url(../blocks/intro/__list/intro__list.css);/*list*/
@import url(../blocks/intro/__list-item/intro__list-item.css);/*item*/
@import url(../blocks/intro/__list-item-number/intro__list-item-number.css);/*number*/
@import url(../blocks/photo-grid/photo-grid.css);/*photo-grid*/
@import url(../blocks/photo-grid/__item/photo-grid__item.css);/*item*/
@import url(../blocks/places/places.css);/*places*/
@import url(../blocks/place/place.css);/*place*/
@import url(../blocks/place/__title/place__title.css);/*title*/
@import url(../blocks/place/__pic/place__pic.css);/*picture*/
@import url(../blocks/place/__url/place__url.css);/*url*/
@import url(../blocks/place/__url-heading/place__url-heading.css);/*url*/
@import url(../blocks/place/__link/place__link.css);/*link*/
@import url(../blocks/place/__main-text/place__main-text.css);/*text*/
@import url(../blocks/place/__paragraph/place__paragraph.css);/*paragraph*/
@import url(../blocks/cover/cover.css);/*cover*/
@import url(../blocks/footer/footer.css);/*footer*/
@font-face {
  font-family: 'Inter';
  src: url(../vendor/Inter/web/InterVariable.woff2);
  font-weight: normal;
}
