.section {
  width: 984px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .section {
    width: calc(100% - 48px*2);
  }
}

@media screen and (max-width: 768px) {
  .section {
    width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 320px) {
  .section {
    width: calc(100% - 16px*2);
  }
}